<!--
(opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)"
Currently I am {{panelOpenState() ? 'open' : 'closed'}}

<p>{{storageTask.action.attemptCounter}}</p>
<p>{{storageTask.action.exceptionMessage}}</p>
<p>{{storageTask.action.exceptionType}}</p>
<p>{{storageTask.action.timeLeft}}</p>
<p>{{storageTask.action.message}}</p>

-->

<h1 mat-dialog-title>{{storageTaskHeader}}</h1>
<div mat-dialog-content>
    <p>TSsss</p>

    <mat-accordion>
        <mat-expansion-panel [expanded]="storageTask.action.exceptionType == null" cdkFocusInitial>
            <mat-expansion-panel-header>
                <mat-panel-title>Log</mat-panel-title>
                <mat-panel-description>
                    {{storageTaskLog.length}} {{storageTaskLog.length == 1 ? "entry" : "entries"}} 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ul class="expansion-panel-log-window">
                <li *ngFor="let logEntry of storageTaskLog">{{logEntry}}</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf="storageTask.action.exceptionType != null">
        <mat-expansion-panel [expanded]="storageTask.action.exceptionType != null">
            <mat-expansion-panel-header>
                <mat-panel-title>{{storageTask.action.exceptionType}}</mat-panel-title>
                <mat-panel-description>
                    {{storageTask.action.exceptionMessage}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-accordion>
                <standalone-storage-node title="New"
                    *ngIf="storageTask.action.newEntry"
                    [node]="storageTask.action.newEntry">
                </standalone-storage-node>
                <standalone-storage-node title="Target"
                    *ngIf="storageTask.action.targetEntry"
                    [node]="storageTask.action.targetEntry">
                </standalone-storage-node>
                <standalone-storage-node title="Conflict"
                    *ngIf="storageTask.action.conflictEntry"
                    [node]="storageTask.action.conflictEntry">
                </standalone-storage-node>
                <standalone-storage-node title="Destination"
                    *ngIf="storageTask.action.destinationEntry"
                    [node]="storageTask.action.destinationEntry">
                </standalone-storage-node>
            </mat-accordion>
            <!--mat-accordion *ngIf="storageTask.options">
                <standalone-storage-node  *ngFor="let option of storageTask.options"
                    title="New"
                    [node]="storageTask.action.newEntry">
                </standalone-storage-node>
            </mat-accordion-->
            <button type="button" mat-stroked-button color="primary" *ngFor="let option of storageTask.options">{{option.displayText}}</button>
        </mat-expansion-panel>
    </mat-accordion>        
</div>

<div mat-dialog-actions class="mat-dialog-actions">
    <button type="button" mat-stroked-button color="primary" [mat-dialog-close]="true" [disabled]="storageTask.state !== 'completed' && storageTask.state !== 'cancelled'">Ok</button>
    <button type="button" mat-stroked-button color="primary" (click)="cancelTaskExecution = true" [disabled]="storageTask.state !== 'exception'">Retry</button>
    <button type="button" mat-raised-button color="primary" (click)="cancelTaskExecution = true">Cancel</button>
</div>