<h1 mat-dialog-title>Add to storage</h1>
<div mat-dialog-content>
    Would you like to upload a file to the <b>'{{data.name}}'</b> directory or create a sub-directory within it?
</div>
<div mat-dialog-actions>
    <button type="button" mat-button [mat-dialog-close]="'createFile'">Upload file</button>
    <button type="button" mat-button [mat-dialog-close]="'createDirectory'">Create directory</button>
    <button type="button" mat-button [mat-dialog-close]="false" cdkFocusInitial>Go back</button>
</div>
