<h1 mat-dialog-title class="mat-dialog-title">Edit {{targetNode.isDirectory ? 'directory' : 'file'}}</h1>
<div mat-dialog-content class="mat-dialog-content">
    <form id="nodeForm" class="mat-dialog-content-form" enctype="multipart/form-data" [formGroup]="editNodeForm"
        (ngSubmit)="editNode()">
        <mat-form-field class="mat-dialog-content-form-field" appearance="outline" subscriptSizing="dynamic">
            <mat-label class="mat-dialog-content-form-field-label">Name:</mat-label>
            <input class="mat-dialog-content-form-field-input" matInput type="text" formControlName="name" required
                placeholder="Name of the {{targetNode.isDirectory ? 'directory' : 'file'}}">
            <mat-hint class="mat-dialog-content-form-field-hint" *ngIf="editNodeForm.get('name')?.hasError('pattern')">
                <p>*{{targetNode.isDirectory ? 'Directory' : 'File'}} name can only contain English alphabet letters, digits,
                    _, -, and/or . (but not as the firstcharacter.)</p>
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="mat-dialog-content-form-field" appearance="outline" subscriptSizing="dynamic">
            <mat-label class="mat-dialog-content-form-field-label">OnDisk:</mat-label>
            <input class="mat-dialog-content-form-field-input" matInput type="text" [value]="targetNode.url" required
                [readonly]="true">
            <div matSuffix class="mat-dialog-content-form-field-suffix">
                <button class="mat-dialog-content-form-field-suffix-button" type="button" mat-icon-button
                    color="primary" [disabled]="true" aria-label="Example lock icon">
                    <mat-icon>{{'lock_outline'}}</mat-icon>
                </button>
            </div>
        </mat-form-field>
        <mat-form-field class="mat-dialog-content-form-field" appearance="outline" subscriptSizing="dynamic"
            *ngIf="targetNode.isDirectory">
            <mat-label class="mat-dialog-content-form-field-label">Children:</mat-label>
            <input class="mat-dialog-content-form-field-input" matInput type="text" [value]="targetNode.childNodes.length"
                required [readonly]="true">
            <div matSuffix class="mat-dialog-content-form-field-suffix">
                <button class="mat-dialog-content-form-field-suffix-button" type="button" mat-icon-button
                    color="primary" [disabled]="true" aria-label="Example lock icon">
                    <mat-icon>{{'lock_outline'}}</mat-icon>
                </button>
            </div>
        </mat-form-field>
        <mat-form-field class="mat-dialog-content-form-field" appearance="outline" subscriptSizing="dynamic">
            <mat-label class="mat-dialog-content-form-field-label">Created on:</mat-label>
            <input class="mat-dialog-content-form-field-input" matInput type="text" [value]="formattedDateCreated"
                required [readonly]="true">
            <div matSuffix class="mat-dialog-content-form-field-suffix">
                <button class="mat-dialog-content-form-field-suffix-button" type="button" mat-icon-button
                    color="primary" [disabled]="true" aria-label="Example lock icon">
                    <mat-icon>{{'lock_outline'}}</mat-icon>
                </button>
            </div>
        </mat-form-field>
        <mat-form-field class="mat-dialog-content-form-field" appearance="outline" subscriptSizing="dynamic">
            <mat-label class="mat-dialog-content-form-field-label">Last updated on:</mat-label>
            <input class="mat-dialog-content-form-field-input" matInput type="text" [value]="formattedDateUpdated"
                required [readonly]="true">
            <div matSuffix class="mat-dialog-content-form-field-suffix">
                <button class="mat-dialog-content-form-field-suffix-button" type="button" mat-icon-button
                    color="primary" [disabled]="true" aria-label="Example lock icon">
                    <mat-icon>{{'lock_outline'}}</mat-icon>
                </button>
            </div>
        </mat-form-field>
        <mat-form-field class="mat-dialog-content-form-field" appearance="outline" subscriptSizing="dynamic">
            <mat-label class="mat-dialog-content-form-field-label">Description:</mat-label>
            <textarea class="mat-dialog-content-form-field-input" matInput type="text" formControlName="description" required
                placeholder="A short description of the new {{targetNode.isDirectory ? 'directory' : 'file'}} and its purpose..."></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
    <button type="submit" mat-button class="mat-dialog-actions-button" *ngIf="!formSubmissionSubscription"
        [disabled]="!editNodeForm.valid" form="nodeForm">Submit</button>
    <button type="button" mat-button class="mat-dialog-actions-button" *ngIf="formSubmissionSubscription"
        [disabled]="!formSubmissionSubscriptionCancellable" (click)="cancelSubscription()">Cancel</button>
    <button type="button" mat-button class="mat-dialog-actions-button" [mat-dialog-close]="false"
        [disabled]="formSubmissionSubscription" cdkFocusInitial>Go back</button>
</div>