<div class="container">
	<section class="storage">
		<mat-tree class="storage-tree" [dataSource]="dataSource" [treeControl]="treeControl">
			<!-- This is the tree node template for non-expandable nodes -->
			<mat-tree-node class="storage-tree-node" *matTreeNodeDef="let node">
				<button class="storage-tree-node-button" mat-button (click)="onTreeNodeClick(node, $event)"
					[ngClass]="{'selected': selectedNode?.id == node.id}" color="warn"
					[attr.aria-label]="'Select ' + node.name">
					<mat-icon class="storage-tree-node-button-icon">
						{{'check'}}
					</mat-icon>
					<span class="storage-tree-node-button-label">{{node.name}}</span>
				</button>
			</mat-tree-node>
			<!-- This is the tree node template for expandable nodes -->
			<mat-nested-tree-node class="storage-tree-nested-node" *matTreeNodeDef="let node; when: hasChild">
				<button class="storage-tree-nested-node-button" mat-button (click)="onTreeNodeClick(node, $event)"
					[ngClass]="{'selected': selectedNode?.id == node.id}" color="warn"
					[attr.aria-label]="'Toggle ' + node.name">
					<mat-icon class="storage-tree-nested-node-button-icon">
						{{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
					</mat-icon>
					<span class="storage-tree-nested-node-button-label"><b>{{node.name}}</b></span>
				</button>
				<!-- And these are the children -->
				<div class="storage-tree-nested-node-children" role="group"
					[ngClass]="{'hidden': !treeControl.isExpanded(node)}">
					<ng-container matTreeNodeOutlet></ng-container>
				</div>
			</mat-nested-tree-node>
		</mat-tree>
	</section>

	<aside class="options" [ngClass]="{'expanded' : selectedNode}" role="menu">
		<button class="options-button" mat-button aria-label="Example icon"
			(click)="openDialog(dialogMode.USE, selectedNode)">
			<mat-icon class="options-button-icon">{{'arrow_circle_up'}}</mat-icon>
			<span class="options-button-label">Use</span>
		</button>
		<button class="options-button" mat-button aria-label="Example icon"
			(click)="openDialog(dialogMode.CREATE, selectedNode)">
			<mat-icon class="options-button-icon">{{'add_circle_outline'}}</mat-icon>
			<span class="options-button-label">Create</span>
		</button>
		<button class="options-button" mat-button aria-label="Example icon"
			(click)="openDialog(dialogMode.DETAILS, selectedNode)">
			<mat-icon class="options-button-icon">{{'info_outline'}}</mat-icon>
			<span class="options-button-label">Details</span>
		</button>
		<button class="options-button" mat-button aria-label="Example icon"
			(click)="openDialog(dialogMode.DOWNLOAD, selectedNode)">
			<mat-icon class="options-button-icon">{{'arrow_circle_down'}}</mat-icon>
			<span class="options-button-label">Download</span>
		</button>
		<button class="options-button" mat-button aria-label="Example icon"
			(click)="openDialog(dialogMode.REMOVE, selectedNode)">
			<mat-icon class="options-button-icon">{{'highlight_remove'}}</mat-icon>
			<span class="options-button-label">Remove</span>
		</button>
	</aside>
</div>