<form id="fileForm" class="mat-dialog-content-form" enctype="multipart/form-data" [formGroup]="newFileForm"
	(ngSubmit)="addFileDull()">
	<mat-form-field class="mat-dialog-content-form-field" appearance="outline" subscriptSizing="dynamic">
		<mat-label class="mat-dialog-content-form-field-label">File:</mat-label>
		<input class="mat-dialog-content-form-field-input" matInput type="text" formControlName="name" required
			[readonly]="!newFileForm.value.content" placeholder="No file selected...">
		<div matSuffix class="mat-dialog-content-form-field-suffix">
			<storage-create-file-upload formControlName="content"
				(fileNameChange)="setFileName($event)"></storage-create-file-upload>
		</div>
		<mat-hint *ngIf="newFileForm.get('name')?.hasError('pattern')" class="mat-dialog-content-form-field-hint">
			<p>*File name can only contain English alphabet letters, digits, _, -, and/or . (but not as the first
				character.)</p>
		</mat-hint>
	</mat-form-field>
	<mat-form-field class="mat-dialog-content-form-field" appearance="outline" subscriptSizing="dynamic">
		<mat-label class="mat-dialog-content-form-field-label">Description:</mat-label>
		<textarea class="mat-dialog-content-form-field-input" matInput type="text" formControlName="description"
			required placeholder="A short description of the new file and its purpose..."></textarea>
	</mat-form-field>
</form>