<mat-progress-bar class="mat-dialog-progress-bar" mode="indeterminate" *ngIf="formSubmissionSubscription"></mat-progress-bar>
<h1 mat-dialog-title>Remove {{data.targetNode.children != null ? 'directory' : 'file'}}</h1>
<div mat-dialog-content>
	<b>Name: {{data.targetNode.onDiskName}}</b><br>
	<b>OnDisk: {{data.targetNode.onDiskURL}}</b><br>
	<b>Children: {{data.targetNode.children != null ? data.targetNode.children.length : 'N/A'}}</b><br>
	<b>Created on: {{formattedDateCreated}}</b><br>
	<b>Last updated on: {{formattedDateUpdated}}</b><br>
	<b>Description: {{data.targetNode.description}}</b><br>
	<h4>Are you sure you want to remove the <b>'{{data.targetNode.onDiskName}}'</b> {{data.targetNode.children != null ? 'directory and all data within it' : 'file'}} permanently?</h4><br>
</div>
<div *ngIf="!formSubmissionSubscriptionCancellable" mat-dialog-actions>
	<button mat-button (click)="confirmNodeRemoval()">I'm sure!</button>
	<button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
</div>
<div *ngIf="formSubmissionSubscriptionCancellable" mat-dialog-actions>
	<button mat-button (click)="cancelSubscription()" cdkFocusInitial [disabled]="!formSubmissionSubscriptionCancelButtonEnabled">Cancel</button>
</div>
