<div class="container">
    <h1>Log in</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">E-mail</label>
            <span>Don't have an account?&nbsp;<a href="/registration">Sign up</a></span>
            <input id="email" class="form-control" type="email" formControlName="email" placeholder="example@mail.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <span><a href="/recovery">Forgot password?</a></span>
            <input id="password" class="form-control" type="password" formControlName="password" autocomplete="off" placeholder="password">
        </div>
        <!--TODO: captcha? maybe?-->
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!form.valid">Sign up for free</button>
        </div>
    </form>
</div>