<h1 mat-dialog-title>Transfer {{targetNode.isDirectory ? 'directory' : 'file'}}</h1>
<div mat-dialog-content>
	<mat-tab-group>
		<mat-tab label="Target">
			<br>
			<b>Name: {{targetNode.name}}</b><br>
			<b>OnDisk: {{targetNode.url}}</b><br>
			<b>Children: {{targetNode.isDirectory ? targetNode.childNodes.length : 'N/A'}}</b><br>
			<b>Created on: {{formattedTargetDateCreated}}</b><br>
			<b>Last updated on: {{formattedTargetDateUpdated}}</b><br>
			<b>Description: {{targetNode.description}}</b><br>
		</mat-tab>
		<mat-tab label="Destination">
			<br>
			<b>Name: {{destinationNode.name}}</b><br>
			<b>OnDisk: {{destinationNode.url}}</b><br>
			<b>Children: {{destinationNode.isDirectory ? destinationNode.childNodes.length : 'N/A'}}</b><br>
			<b>Created on: {{formattedDestinationDateCreated}}</b><br>
			<b>Last updated on: {{formattedDestinationDateUpdated}}</b><br>
			<b>Description: {{destinationNode.description}}</b><br>
		</mat-tab>
	</mat-tab-group>
</div>
<div mat-dialog-actions>
	<button type="button" mat-button (click)="copyNode()">Copy {{targetNode.isDirectory ? 'directory' : 'file'}}</button>
	<button type="button" mat-button (click)="moveNode()">Move {{targetNode.isDirectory ? 'directory' : 'file'}}</button>
	<button type="button" mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
	<mat-form-field appearance="outline">
		<mat-label>In case of conflict:</mat-label>
		<mat-select [(value)]="inCaseOfConflict">
			<mat-option *ngIf="!targetNode.isDirectory" value="overwrite">Overwrite</mat-option>
			<mat-option *ngIf="targetNode.isDirectory" value="merge">Merge</mat-option>
			<mat-option value="rename">Rename</mat-option>
			<mat-option value="ignore">Ignore</mat-option>
		</mat-select>
	</mat-form-field>
</div>
