<style>
	.container {
		overflow: scroll;
		height: 100%;
		width: 100%;
		padding: 0;
	}

	.storage-tree {
		height: max-content;
		width: max-content;
		min-height: 100%;
		min-width: 100%;
	}

	.storage-tree ul,
	.storage-tree li {
		list-style-type: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}

	.storage-tree li {
		display: block;
		width: 100%;

		/*margin: 0 10px;*/
	}

	.storage-tree li > button {
		justify-content: flex-start;
  		align-items: center;
		flex-direction: row;
		display: flex;
		/*height: 30px;*/
		width: 100%;
	}

	.mat-title-bar {
		flex-direction: row;
		display: flex;
	}

	.mat-button-bar {
		flex-direction: row;
		display: flex;
		width: 100%;
	}

	.mat-button-bar > button {
		padding: 0;
		margin: 0;
		height: 20px;
		width: 20px;
	}

	.storage-tree .mat-icon {
		font-size: 1.5rem;
		height: 1.5rem;
		width: 1.5rem;

		margin-right: 0;
	}

	.storage-tree .mat-label {
		font-size: 1.25rem;
		height: 1.25rem;
		width: 1.25rem;
	}

	.storage-tree .mat-nested-tree-node div[role=group] {
		padding-left: 40px;
	}

	.storage-tree div[role=group]>.mat-tree-node {
		padding-left: 40px;
	}
</style>

<section class="container">
	<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="storage-tree">
		<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
			{{node.name}}
		</mat-tree-node>
		<!-- This is the tree node template for expandable nodes -->
		<mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
			<ul class="mat-tree-node">
				<li class="mat-tree-leaf" *ngIf="node.isDirectory">
					<button class="mat-directory-button" mat-button matTreeNodeToggle color="warn" [attr.aria-label]="'Toggle ' + node.name" (click)="onTreeNodeClick(node.name, true)">
						<div class="mat-title-bar">
							<mat-icon class="mat-icon">
								{{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
							</mat-icon>
							<span class="mat-label"><b>{{node.name}}</b></span>
						</div>
					</button>
					<div class="mat-button-bar" [ngClass]="{'hidden': !treeControl.isExpanded(node)}" >
						<button mat-button aria-label="Example icon">
							<mat-icon>{{'add_circle_outline'}}</mat-icon>
						</button>
						<button mat-button aria-label="Example icon">
							<mat-icon>{{'arrow_circle_down'}}</mat-icon>
						</button>
						<button mat-button aria-label="Example icon">
							<mat-icon>{{'info_outline'}}</mat-icon>
						</button>
						<button mat-button aria-label="Example icon">
							<mat-icon>{{'highlight_remove'}}</mat-icon>
						</button>
					</div>
				</li>
				<li *ngIf="!node.isDirectory">
					<button mat-button color="warn" [attr.aria-label]="'Select ' + node.name" (click)="onTreeNodeClick(node.name, false)">
						<mat-icon class="mat-icon">
							{{'text_snippet'}}
						</mat-icon>
						<span class="mat-label">{{node.name}}</span>
					</button>
				</li>
			</ul>
			<!-- directories -->
			<div [ngClass]="{'hidden': !treeControl.isExpanded(node)}" role="group">
				<ng-container matTreeNodeOutlet></ng-container>
			</div>
		</mat-nested-tree-node>
	</mat-tree>
</section>